*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Kanit", sans-serif;
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
	line-height: 0;
}

:root {
	--container-width: 95%;
	--title-font-size: 36px;
	--subtitle-font-size: 16px;
	--nav-font-size: 10px;
	--p-font-size: 14px;
	--section-title-font-size: 28px;
	--item-font-size: 24px;
	--avatar-width: 140px;
	--avatar-border-radius: 70px;
	--bg-color:#e1d8cf;
	--text-color: #272c40 ;
	--section-divider: 1px solid var(--text-color);
}


h1 {
	font-size: var(--title-font-size);
	text-transform: uppercase;
}

h2 {
	font-size: var(--section-title-font-size);
}

h3 {
	font-size: var(--item-font-size);
}

p {
	font-size: var(--p-font-size);
}

span {
	font-size: var(--subtitle-font-size);
}

li {
	padding: 4px;
	border-radius: 2px;
}

label {
	font-size: var(--p-font-size);
}

li:hover {
	background-color: var(--bg-color);
	color: black;
	transition: ease-in 0.2s;
}

.body__container {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: all 0.3s ease-in-out;
}

.dark-mode {
    --bg-color: #272c40;
    --text-color: #e1d8cf;
}

.theme-toggle {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    transition: all 0.3s;
}

.theme-toggle img {
    width: 100%;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

.divider {
	padding: 40px 0;
	border-bottom: var(--section-divider);
}

.nav {
	position: fixed;
    width: 100%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

.nav__content {
	display: flex;
	align-items: center;
	padding-bottom: 0;
}

.nav__menu {
	width: 100%;
	padding: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav__menu li {
	font-size: var(--nav-font-size);
}

.main {
	width: 100%;
}

#hero {
	width: 100%;
	height: 100vh;
	/* height: calc(100vh - var(--navbar-height)); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero__content {
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.hero__content small {
	font-size: var(--subtitle-font-size);
}

.about-me__content {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 28px;
}

.about-me__info {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.about-me__info h2 {
	font-size: var(--section-title-font-size);
}

.about-me__info p {
	font-size: var(--p-font-size);
	text-align: justify;
}

.about-me__image {
	width: var(--avatar-width);
}

.about-me__image img {
	width: 100%;
	border-radius: var(--avatar-border-radius);
}

.experience__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.experience__work {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.experience__name {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.experience__tasks {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.projects__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.projects__captures {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.projects__item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 32px;
}

.projects__name {
	display:flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.projects__name img {
	width: var(--item-font-size);
}

.projects__image {
	width: 300px;
	border-radius: 10px;
}

.projects__image img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.projects__links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.skill__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 40px;
}

.skill__items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 36px;
}

.skill__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex: 1;
}

.skill__image {
	width: 100px;
}

.skill__image img {
	width: 100%;
}

.contact__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 32px 0;
}

.contact__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.contact__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.contact__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.contact__info {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact__info input {
	width: 100%;}

.contact__mail {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.contact__item p {
	text-align: center;
}

.contact__item p a {
	color: #02A9EA;
}

.contact__buttons {
	width: 100%;
	display: flex;
	gap: 12px;
}

.contact__buttons button {
	font-size: var(--p-font-size);
	padding: 8px;
	border-radius: 4px;
	border: 0px;
}

.contact__buttons button:hover {
	background-color: #737373;
	color: #fff;
	transition: 0.2s;
}