*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--container-width: 90%;
	--title-font-size: 36px;
	--subtitle-font-size: 20px;
	--nav-font-size: 10px;
	--p-font-size: 15px;
	--section-title-font-size: 26px;
	--avatar-width: 140px;
	--avatar-border-radius: 70px;
	--primary-color: #fff;
	--section-divider: 1px solid var(--primary-color);
}

body {
	background-color: var(--secondary-color);
	background-image: linear-gradient(90deg, #000000 15%, #737373 87%);
}

h1 {
	font-size: var(--title-font-size);
	text-transform: uppercase;
}

h2 {
	font-size: var(--section-title-font-size);
}

p {
	font-size: var(--p-font-size);
}

.body__container {
	color: var(--primary-color);
}

.container {
	width: var(--container-width);
	margin: 0 auto;
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: var(--section-divider);
}

.nav__content {
	display: flex;
	align-items: center;
	padding-bottom: 0;
}

.nav__menu {
	width: 100%;
	padding: 8px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav__menu li {
	font-size: var(--nav-font-size);
}

.main {
	width: 100%;
}

#hero {
	width: 100%;
	margin-bottom: 60px;
}

.hero__content {
	padding: 8px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border-bottom: 0;
}

.hero__content small {
	font-size: var(--subtitle-font-size);
}

.about-me__content {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	gap: 28px;
	
}

.about-me__info {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.about-me__info h2 {
	font-size: var(--section-title-font-size);
}

.about-me__info p {
	font-size: var(--p-font-size);
	text-align: justify;
}

.about-me__image {
	width: var(--avatar-width);
}

.about-me__image img {
	width: 100%;
	border-radius: var(--avatar-border-radius);
}

.experience__content {
	padding-bottom: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.experience__work {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.experience__name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.experience__work p {
	text-align: center;
}
