@media (min-width: 481px) {
	:root {
		--container-width: 85%;
		--nav-font-size: 18px;
		--title-font-size: 52px;
		--subtitle-font-size: 28px;
		--p-font-size: 20px;
		--section-title-font-size: 36px;
		--avatar-width: 180px;
		--avatar-border-radius: 90px;
	}

	.container {
		padding-bottom: 64px;
		margin-bottom: 64px;
	}

	.nav__content .container {
		padding-bottom: 0px;
	}

	.nav {
		padding-bottom: 0;
		margin-bottom: 120px;
	}

	.nav__menu {
		padding: 16px 0;
	}

	.hero__content {
		margin-bottom: 160px;
	}

	.about-me__content {
		flex-direction: row;
		justify-content: space-around;
	}

	.about-me__info {
		max-width: 60%;
		align-items: flex-start;
		flex: 1;
	}

	.experience__content {
		gap: 20px;
	}

	.experience__work {
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
	}

	.experience__name {
		flex-direction: row;
		gap: 12px;
	}

	.experience__work p {
		text-align: justify;
	}

	.projects__content {
		gap: 20px;
	}

	.projects__captures {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}

	.projects__item {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		flex: 1;
		gap: 20px;
	}
}

@media (min-width: 1024px) {
	:root {
		--container-width: 80%;
		--nav-font-size: 24px;
		--title-font-size: 100px;
		--subtitle-font-size: 52px;
		--p-font-size: 28px;
		--section-title-font-size: 60px;
		--avatar-width: 260px;
		--avatar-border-radius: 130px;
	}

	.container {
		padding-bottom: 72px;
		margin-bottom: 72px;
	}

	.nav {
		justify-content: space-between;
		margin-bottom: 120px;
	}

	.nav__content {
		border-bottom: 0px;
	}

	.nav__menu {
		padding: 24px;
		display: flex;
		justify-content: right;
		align-items: center;
		gap: 28px;
	}

	.nav__menu::before {
		content: "";
		flex-grow: 1;
		height: 1px;
		background: var(--primary-color);
		min-width: 20px;
		margin: auto;
	}

	.hero__content {
		margin-bottom: 200px;
	}
}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 75%;
	}
}
