@media (min-width: 481px) {
	:root {
		--container-width: 85%;
		--nav-font-size: 18px;
		--title-font-size: 52px;
		--subtitle-font-size: 22px;
		--p-font-size: 20px;
		--section-title-font-size: 36px;
		--item-font-size: 28px;
		--avatar-width: 180px;
		--avatar-border-radius: 90px;
	}

	.theme-toggle {
		width: 28px;}

	.divider {
		padding: 60px 0;
	}

	.nav__content.divider {
		padding-bottom: 0;
	}

	.nav__menu {
		padding: 16px 0;
	}

	.about-me__content {
		flex-direction: row;
		justify-content: space-around;
	}

	.about-me__info {
		max-width: 60%;
		align-items: flex-start;
		flex: 1;
	}

	.about-me__info p {
		text-align: left;
	}

	.experience__content {
		gap: 40px;
	}

	.experience__work {
		width: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 8px;
	}

	.experience__name {
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}

	.experience__work p {
		text-align: justify;
	}

	.projects__content {
		gap: 20px;
	}

	.projects__captures {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
	}

	.projects__item {
		flex: 1;
		gap: 40px;
	}

	.skill__items {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.skill__image {
		width: 160px;
	}

	.contact__content {
		padding: 48px 0;
		gap: 40px;
	}

	.contact__box {
		justify-content: flex-start;
		align-items: flex-start;
	}
}

@media (min-width: 1024px) {
	:root {
		--container-width: 80%;
		--nav-font-size: 22px;
		--title-font-size: 100px;
		--subtitle-font-size: 38px;
		--p-font-size: 24px;
		--section-title-font-size: 60px;
		--item-font-size: 30px;
		--avatar-width: 260px;
		--avatar-border-radius: 130px;
	}

	.divider {
		padding: 80px 0;
	}

	.nav__content.divider {
		border-bottom: 0;
	}

	.nav {
		justify-content: space-between;
		/* margin-bottom: 120px; */
	}

	.nav__menu {
		padding: 24px;
		display: flex;
		justify-content: right;
		align-items: center;
		gap: 28px;
	}

	.nav__menu::before {
		content: "";
		flex-grow: 1;
		height: 1px;
		background: var(--primary-color);
		min-width: 20px;
		margin: auto;
	}

	.projects__content {
		gap: 60px;
	}

	.projects__captures {
		gap: 60px;
	}

	.projects__item {
		gap: 60px;
	}

	.skill__items {
		gap: 40px;
	}

	.skill__image {
		width: 140px;
	}

	.contact__content {
		padding: 72px 0;
	}
}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--container-width: 75%;
		--avatar-width: 300px;
		--avatar-border-radius: 150px;
	}

	.divider{
	padding: 100px 0;}

	.contact__content {
		padding: 100px 0;
	}
}
